@using BlazorLeBonCoin.DTOs


<div class="d-flex flex-row justify-content-around bg-light text-dark">
    <div><img src=@article.Images[0].Url height="200" /></div>
    <div class="d-flex flex-column">
        <h1>@article.Title</h1>
        <p><small>créé le: @article.Date</small></p>
        <div><b>Prix:</b> @article.Price €</div>
        <div>Nombre de commentaires: (@article.Comments.Count)</div>       
        <a href="article/@article.Id">More détails</a>
    </div>
    <div>
    </div>
</div>

@code {
    [Parameter]
    public ArticleResponseDTO article { get; set; }

}
